* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  background: #e5e5e5;
}

.titles {
    font-size: 23px;
    color: #4264E3;
}


/* Header Menu */
.navbar {
  background: white;
  left: 0px;
  top: 0px;
}

.logoNav {
    z-index: 3;
    font-family: "Russo One", sans-serif;
    position: absolute;
    left: 46.46%;
    right: 46.43%;
    top: 1.41%;
    bottom: 96.36%;
    font-size: 28px;
    line-height: 34px;
}

@media (max-width: 990px) {
    .logoNav {
        left: 38%;
        top: 1%;
    }
}

.dropdown-toggle::after {
  display: none;
}

.arrowDown {
  color: #93939f;
}


/* Recent Invoices */
.containerInvoices{
    margin-top: 70px;
    background-color: white;
    border-radius: 10px;
}

.goList {
  text-decoration: underline;
  color: #5377F2;
}

.goList:hover {
  color: darkblue;
  text-decoration: underline 2px;
}

.invoiceNumber{
    color: #5377F2;
}

.paid{
    color: #70BFAA;
}

.data {
  font-size: 12px;
  color: #93939f;
}


/* Settings */
.containerSettings{
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: white;
    border-radius: 10px;
}

.buttonSettings{
    color: white;
    background-color: #4264E3;
    border-radius: 35px;
}

.cards {
  background-color: #f8f8f9;
}

.link {
  font-size: 12px;
  color: #4264e3;
}

.textCard {
  color: #93939f;
}


/* Footer */
.logoFoot {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 30px;
}

.textFooter {
  color: white;
  font-size: 12px;
}

.textFooterLink {
    color: white;
    font-size: 12px;
}

.textFooterLink:hover {
  text-decoration: underline;
  color: white;
  font-size: 12px;
}

.footBar {
  background-color: #2a2a30;
  height: 50px;
}

.textInc{
    font-size: 10px;
    color: #DDDDE1;
}
  
